.button {
    inline-size: 65px;
    block-size: 34px;
    border: transparent;
    background-color: transparent;
background-position: center;
background-repeat: no-repeat;
cursor: pointer;
}

.button:active {
    transform: scale(.9);
}

#play {
    background-image: url("../images/play.svg");
}

#pause {
background-image: url("../images/pause.svg");
}

#backward {
    background-image: url("../images/-10.svg");
}

#forward {
    background-image: url("../images/+10.svg");
}


